.jumbotron {
    padding: 80px ;
    border-radius: 0;
    background: url("../images/banner1.jpg") center center/cover no-repeat;
}

.jumbotron h1 {
    margin-bottom: 0;
    font-family: Bebas Neue, sans-serif;
    font-size: 60px;
    line-height: 1;
    color: #cbd3da;
}

.jumbotron p {
    font-family: Roboto, sans-serif;
    color: #cbd3da;
}

@media(max-width: 767px)  {
    .jumbotron {
        padding: 20px;
        background-position-x: left;
        background-position-y: top;
        background-size: cover;
    }

    .jumbotron h1 {
        font-size: 30px;
    }
}